<!DOCTYPE html>
<html lang="en">
  <head>
    <title>unterwegs</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=0.5,user-scalable=no" />
    <meta name="robots" content="noindex, nofollow" />
  </head>
  <body>
    <ul>
    <% index.galleries.each do |gallery| %>
      <li><a href="<%=gallery.url_name%>"><%=gallery.name%></a></li>
    <% end %>
    </ul>
  </body>
</html>
